body {
    background: #fff;
}

.index-left {
    width: 160px;
    height: 100%;
    background: url(images/index-bg.png);
    position: absolute;
}

.cont-head {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.cont-head img {
    width: 125px;
}

.cont-list {
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #fff;

}

.cont-list a {
    color: #fff;
    text-decoration: none;
}

.cont-list.active {
    background: #01945c;
}

.left-bg {
    width: 160px;
    height: 128px;
    background: url(images/left-bg.png) no-repeat;
    position: absolute;
    bottom: 0;
}

.index-right {
    height: 100%;
    margin-left: 160px;
}

.index-right .cont-head {
    background: #eee;
    text-align: right;
    padding-right: 40px;
    border-bottom: 1px solid #ddd;
}

a.head-span {
    color: #00613c;
    font-size: 14px;
    font-weight: bold;
    padding-right: 25px;
    cursor: pointer;
}

.head-name {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.logout {
    background: url(images/logout.png) right 0 no-repeat;
}

a.modi {
    background: url(images/modi.png) right 0 no-repeat;
    margin-right: 40px;
    padding-right: 20px;
}

.right-wrap {
    padding: 0 40px 40px 40px;
}

.rw-tit {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

.rw-tit-list {
    position: absolute;
    left: 120px;
    top: 0;
}

a {
    color: #999;
}

.rw-tit-list a:hover, .rw-tit-list a.on {
    color: #01945c;
}

.rw-table {
    width: 100%;
    font-size: 14px;
    border-left: 1px solid #e5e5e5;
    box-shadow: 1px 1px 10px #ddd;
}

.rw-table th {
    background: #01945c;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.rw-table input {
    vertical-align: middle;
}

.rw-table td {
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #010101;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.rw-table a {
    text-decoration: none;
    color: #2272c8;
}

.pager {
    text-align: right;
    margin: 20px 0;
}

.pager a {
    text-decoration: none;
    border: 1px solid #dddddd;
    padding: 0 10px;
}

.pager a:hover, .pager a.on {
    background: #01613c;
    color: #fff;
}

.pager span {

}

.index-btn {
    background: #daf7ec;
    border: 1px solid #cfeae0;
    color: #00613c;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
}

button.index-btn:hover {
    background: #00613c;
    color: #fff;
    border: 1px solid #015434;
    cursor: pointer;
}

.mark {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: .4;
    z-index: 10;
    display: none;
}

.popup {
    width: 500px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -240px;
    z-index: 100;
    font-size: 14px;
    display: none;
    padding-bottom: 40px;
}

.pop-head {
    background: #01945c;
    color: #fff;
    height: 40px;
    line-height: 40px;
    position: relative;
    padding: 0 20px;
}

.pop-head .close {
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 16px;
    cursor: pointer;
}

.pop-tip {
    height: 40px;
    line-height: 40px;
    background: #daf7ec;
    color: #01945c;
    padding: 0 20px;
}

.app-form {
    padding: 20px 110px;
    background: #f8f8f8;
}

.app-form .success {
    background: #daf7ec;
    color: #01945c;
    border: 1px solid #01945c;
}

.app-form .fail {
    background: #f5e8e8;
    color: #ff0000;
    border: 1px solid #ff0000;
}

.app-form .err {
    border: 1px solid #ff0000;
}

.app-item {
    background: #fff;
    position: relative;
    border: 1px solid #01945c;
    height: 40px;
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    line-height: 40px;
}

.app-item span {
    width: 45px;
    display: inline-block;
}

.app-item input {
    width: 218px;
    height: 38px;
    line-height: 38px;
    border: none;
}

.app-item .app-sel {
    width: 218px;
    height: 38px;
    line-height: 38px;
    border: none;
}

.app-item select {

}

.app-item input:focus {
    border: none;
    outline: none;
}

.pop-btn {
    padding: 0 110px;
}

.pop-btn button {
    background: #005434;
    width: 100%;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border: none;
    cursor: pointer;
}

.pop-btn button:hover {
    background: #00613c;
}

.pop-div {
    padding: 20px 110px;
    text-align: center;
}

.pop-list {
    padding: 30px 110px 0 110px;
}

.list-tit {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pop-txta {
    margin-top: 20px;
    position: relative;
    border: 1px solid #eee;
    margin-bottom: 30px;
}

.pop-txta span {
    float: left;
}

.pop-txta .pop-ipt-txta {
    float: left;
    border: none;
    width: 225px;
    height: 150px;
}

.pop-txta textarea:focus {
    outline: none;
    width: 225px;
}

.pop-f1 {
    font-weight: bold;
}

.pop-f2 {
    color: #999;
}

.list-item-span1 {
    color: #999;
    min-width: 100px;
}

.list-item-span2 {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    vertical-align: middle;
}